/* General Styles */

:root {
    --bg: #E8DDCF;
    --green: #1E4C23;
    --dark: #212121;
    --white: #F7F5F2;
    --maroon: #362121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg);
}

.navbar {
    width: 90%;
    margin: 20px auto;
    background-color: var(--dark);
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 25px;
}

.logo {
    color: var(--white);
}

.nav-links  {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: var(--white);
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--bg);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-right input {
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
}

.cart-btn,
.menu-btn {
    background-color: var(--green);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.cart-btn:hover,
.menu-btn:hover {
    background-color: #2b6632;
}